@charset "utf-8";


/*Geral*/

body, h3, ul, p {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}

img {
  max-width: 100%;
  display: block;
}

/*Estilização especifica*/

header {
  background-color: #0F0F0F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header nav ul{
  display: flex;
  gap: 20px;
}

header > a {
  font-size: 1.25rem;
}

h3 {
  text-align: center;
  padding: 40px;
  font-size: 1.25rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
}

section article {
  flex: 1 0 288px;
  max-width: 600px;
}

article p {
  text-align: center;
  color: gray
}

@media (max-width: 670px) {
  header > a {
    font-size: 3rem;
  }

  header nav ul a {
    padding: 0px;
    background-color: gray;
    margin: 10px;
  }

  header nav ul{
    display: block;
  }

  section {
    max-width: 90%;
  }

  article p {
    font-size: 1.3rem;
  }
}
